.booking-page {
  width: 100%;
  height: 100%;
}

.booking-title {
  font-size: 50px;
}

.reservation-info {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 5px red solid;
}

.booking-grid {
  border: 5px blue solid;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.room-type-dropdown {
    width: 25%;
    height: 3%;
    border: 1px solid #aaa;
    padding: 10px;
    position: relative;
    margin: 0 auto;
    background-color: white;
    user-select: none;
    border: 5px green solid;
}

/* Display CSS arrow to the right of the dropdown text */
.room-type-dropdown:after {
    content:'';
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #000;
    top: 50%;
    right: 10px;
    margin-top: -3px;
}

/* Reverse the CSS arrow when the dropdown is active */
.room-type-dropdown.is-active:after {
    border-bottom-color: #000;
    border-top-color: #fff;
    margin-top: -9px;
}

.checkbox-dropdown-list {
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%; /* align the dropdown right below the dropdown text */
    border: inherit;
    border-top: none;
    left: -1px; /* align the dropdown to the left */
    right: -1px; /* align the dropdown to the right */
    opacity: 0; /* hide the dropdown */

    transition: opacity 0.4s ease-in-out;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    pointer-events: none; /* avoid mouse click events inside the dropdown */
}
.is-active .checkbox-dropdown-list {
    opacity: 1; /* display the dropdown */
    pointer-events: auto; /* make sure that the user still can select checkboxes */
}

.checkbox-dropdown-list li label {
    display: block;
    border-bottom: 1px solid silver;
    padding: 10px;

    transition: all 0.2s ease-out;
}

.checkbox-dropdown-list li label:hover {
    background-color: #555;
    color: white;
}

.calendar-section {
  width: 30%;
  height: 30%;
  border: 5px white solid;
  display: flex;
  flex-direction: column;
  align-items: center;

}
