@import '_mixins';
@import '_variables';


.past-rooms-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.past-room-card {
  height: 200px;
  width: 375px;
  margin: 15px;
  box-shadow: 0px 5px 10px #00000055;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
  @include fade-in-animation;
  overflow: hidden;
  position: relative;
  border: solid #120100 10px;
  background-color: #F3C7C1;

  &:hover {
    filter: brightness(115%);
    box-shadow: $drop-shadow;
  }
  &:focus {
    filter: brightness(115%);
    box-shadow: $drop-shadow;
  }
}


.past-room-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  @include top-corner-radius;
  cursor: pointer;
  background-color: #F3C7C1;
}

.past-booking-info {
  border-top: solid #120100 6px;
  height: 27%;
  @include center-vertical;
  align-items: center;
  opacity: 70%;
  @include card-font;
  background-color: #F3C7C1;

}
