@import '_mixins';
@import '_variables';

.past-bookings {
  h2 {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
  }
}

.past-rooms-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.past-room-card {
  height: 200px;
  width: 375px;
  background-color: #CCCCCC;
  color: #FFFFFF;
  margin: 15px;
  box-shadow: 0px 5px 10px #00000055;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
  @include fade-in-animation;
  overflow: hidden;
  position: relative;
  border: red 5px solid;

  &:hover {
    filter: brightness(115%);
    box-shadow: $drop-shadow;
  }
  &:focus {
    filter: brightness(115%);
    box-shadow: $drop-shadow;
  }
}


.past-room-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  @include top-corner-radius;
  cursor: pointer;
  border: purple solid 5px;
}

.past-booking-info {
  border: blue solid 5px;
  height: 27%;
  background-color: yellow;
  @include center-vertical;
  align-items: center;
  opacity: 70%;
  @include card-font;

}
