@import '_mixins';
@import '_variables';

.upcoming-bookings {
  h2 {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
  }
}

.upcoming-rooms-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.room-card {
  height: 311px;
  width: 420px;
  background-color: #CCCCCC;
  color: #FFFFFF;
  margin: 15px;
  box-shadow: 0px 5px 10px #00000055;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
  @include fade-in-animation;
  overflow: hidden;
  position: relative;
  border: red 5px solid;

  &:hover {
    @include highlight;
  }
  &:focus {
    @include highlight;
  }
}

.booking-info {
  width: 50%;
  height: 20%;
  color: red;
  border: blue solid 5px;
  background-color: yellow;
  position: absolute;
  top: 15%;
  left: 5%;
  @include center-vertical;
  align-items: center;
  @include card-font;

}

.room-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  @include top-corner-radius;
  border: purple solid 5px;
}

.cost-and-bed-type {
  color: red;
  border: blue solid 5px;
  height: 22%;
  background-color: yellow;
  @include center-vertical;
  align-items: center;
  @include card-font;
}
