.upcoming-bookings {
  h2 {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
  }
}

.upcoming-rooms-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.room-card {
  height: 311px;
  width: 420px;
  background-color: #CCCCCC;
  color: #FFFFFF;
  margin: 15px;
  box-shadow: 0px 5px 10px #00000055;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: .5s;
  border-radius: 5px;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: relative;
  border: red 5px solid;

  &:hover {
    filter: brightness(115%);
    box-shadow: 0px 5px 10px #00000033;
  }
  &:focus {
    filter: brightness(115%);
    box-shadow: 0px 5px 10px #00000033;
  }
}

.booking-info {
  width: 50%;
  height: 20%;
  color: red;
  border: blue solid 5px;
  background-color: yellow;
  position: absolute;
  top: 15%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.room-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: purple solid 5px;
}

.cost-and-bed-type {
  color: red;
  border: blue solid 5px;
  height: 22%;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
