.upcoming-bookings {
  h2 {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
  }
}

.upcoming-rooms-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.room-card {
  height: 311px;
  width: 420px;
  background-color: #CCCCCC;
  color: #FFFFFF;
  margin: 15px;
  box-shadow: 0px 5px 10px #00000055;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: .5s;
  border-radius: 5px;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: relative;
  border: red 5px solid;

  &:hover {
    filter: brightness(115%);
    box-shadow: 0px 5px 10px #00000033;
  }
}
//
// .room-info-container {
//   height: 311px;
//   width: 420px;
//   background-color: #CCCCCC;
//   color: #FFFFFF;
//   margin: 15px;
//   box-shadow: 0px 5px 10px #00000055;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
//   transition: .5s;
//   border-radius: 5px;
//   animation: fadeInAnimation ease 1s;
//   animation-iteration-count: 1;
//   animation-fill-mode: forwards;
//   overflow: hidden;
//   position: relative;
//   border: red 5px solid;
//
//   &:hover {
//     filter: brightness(115%);
//     box-shadow: 0px 5px 10px #00000033;
//   }
// }

// .upcoming-booking-info-area {
//   width: 100%;
//   height: 100%;
//   border: orange solid 5px;
//
// }

.booking-info {
  width: 50%;
  height: 20%;
  border: blue solid 5px;
  background-color: yellow;
  opacity: 70%;
  position: absolute;
  top: 15%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.room-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  border: purple solid 5px;
}

.cost-and-bed-type {
  border: blue solid 5px;
  height: 22%;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

// .image-area {
//   height: 280px;
//   width: 435px;
//   background-color: #CCCCCC;
//   color: #FFFFFF;
//   margin: 30px;
//   box-shadow: 0px 10px 20px #00000055;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
//   transition: .5s;
//   border-radius: 5px;
//   animation: fadeInAnimation ease 1s;
//   animation-iteration-count: 1;
//   animation-fill-mode: forwards;
//   overflow: hidden;
//   position: relative;
//
//   &:hover {
//     filter: brightness(115%);
//     box-shadow: 0px 10px 20px #00000033;
//   }
// }


.booking-date,
.room-type {
  position: absolute;
  background-color:white;
  opacity: 0.8;
  left: 20px;
  top: 20px;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 12em;

}

.past-text-area {
  background-color: #4D3A74;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.typeOfBed,
.costPerNight {
  cursor: pointer;
  margin: 0px;
  background-color: #4D3A74;
  border: none;
  font-size: 18px;
  font-weight: 200;
  color: #00F2EC;
}

.room-categories {
  font-size: 18px;
}












// .room-card {
//   height: 280px;
//   width: 435px;
//   background-color: #CCCCCC;
//   color: #FFFFFF;
//   margin: 30px;
//   box-shadow: 0px 10px 20px #00000055;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
//   transition: .5s;
//   border-radius: 5px;
//   animation: fadeInAnimation ease 1s;
//   animation-iteration-count: 1;
//   animation-fill-mode: forwards;
//   overflow: hidden;
//   position: relative;
//
//   &:hover {
//     filter: brightness(115%);
//     box-shadow: 0px 10px 20px #00000033;
//   }
// }
//
// .room-thumbnail-image {
//   max-height: 250px;
//   width: 100%;
//   object-fit: cover;
//   border-top-left-radius: 5px;
//   border-top-right-radius: 5px;
//   user-select: none;
//   cursor: pointer;
// }
//
// .room-type-and-date {
//   background-color: white;
//   position: absolute;
//
// }
//
// .room-beds-and-cost {
//   background-color: #4D3A74;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   padding: 18px;
//   border-bottom-left-radius: 5px;
//   border-bottom-right-radius: 5px;
// }
//
// .room-beds,
// .room-cost {
//   cursor: pointer;
//   margin: 0px;
//   background-color: #4D3A74;
//   border: none;
//   font-size: 18px;
//   font-weight: 200;
//   color: #00F2EC;
// }
//
// .room-categories {
//   font-size: 18px;
// }
