@import '_pastBookings';
@import '_upcomingBookings';
@import '_mixins';


.account-info {
  font-style: italic;
  .welcome-msg {
    font-size: 30px;
    font-weight: bold;
  }
  .user-spendings {
    font-size: 20px;
  }
}
