/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_navbar';
@import '_homePage';
@import '_reset';
@import '_userProfile';
@import '_login';
@import '_bookingPage';
@import '_loader';
@import '_mixins';


html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #8D1C79;
  color: #000000;
}

.booking-btn:hover {
  cursor: pointer;
  @include highlight;
}

.booking-btn:focus {
  @include highlight;
}


.hidden {
  display: none;
}
