/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_navbar';
@import '_homePage';
@import '_reset';
@import '_userProfile';
@import '_login';
@import '_bookingPage';


html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #8D1C79;
  color: #000000;
}

// .upcoming-bookings {
//   border: 5px white solid;
// }
//
// .past-bookings {
//   border: 5px black solid;
// }

.hidden {
  display: none;
}
